name: Auto Scraper

on:
  push:
    paths:
      - 'link.json'
  workflow_dispatch:
  schedule:
    - cron: '15 * * * *' # 

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    
    # GitHub Action 
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run scraper
        env:
        
          SECRET_HASH: ${{ secrets.MY_SECRET_HASH }}
        run: python scraper.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
        
          if [ -f final.json ]; then
            git add final.json
            git commit -m "Update final.json with latest streams" || echo "No changes to commit"
            git push
          else
            echo "Error: final.json file Missing."
            exit 1
          fi
