name: Auto Scraper

on:
  push:
    paths:
      - 'link.json'
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: pip install requests beautifulsoup4
      - run: python scraper.py
      - name: Commit changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add final.json
          git commit -m "Update final.json" || exit 0
          git push
